@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/robotoslab-regular-webfont.eot");
  src: url("robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/robotoslab-regular-webfont.woff") format("woff"), url("../fonts/roboto/robotoslab-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto slab";
  src: url("../fonts/roboto-slab/robotoslab-regular-webfont.eot");
  src: url("robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-slab/robotoslab-regular-webfont.woff") format("woff"), url("../fonts/roboto-slab/robotoslab-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto slab";
  src: url("../fonts/roboto-slab/robotoslab-bold-webfont.eot");
  src: url("robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/robotoslab-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-slab/robotoslab-bold-webfont.woff") format("woff"), url("../fonts/roboto-slab/robotoslab-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ebenya";
  src: url("../fonts/ebenya/ebenya-webfont.eot");
  src: url("ebenya-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ebenya/ebenya-webfont.woff2") format("woff2"), url("../fonts/ebenya/ebenya-webfont.woff") format("woff"), url("../fonts/ebenya/ebenya-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.eot");
  src: url("../fonts/icon/icomoon.eot") format("embedded-opentype"), url("../fonts/icon/icomoon.ttf") format("truetype"), url("../fonts/icon/icomoon.woff") format("woff"), url("../fonts/icon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-big-down:before {
  content: "\e900";
  color: #bc1622;
}

.icon-arrow-big-left:before {
  content: "\e901";
  color: #bc1622;
}

.icon-arrow-big-right:before {
  content: "\e902";
  color: #bc1622;
}

.icon-arrow-down:before {
  content: "\e903";
  color: #fff;
}

.icon-arrow-left:before {
  content: "\e904";
  color: #bc1622;
}

.icon-arrow-up:before {
  content: "\e905";
  color: #4f4f4f;
}

.icon-basket:before {
  content: "\e906";
}

.icon-burger:before {
  content: "\e907";
  color: #fff;
}

.icon-clock:before {
  content: "\e908";
  color: #bc1622;
}

.icon-close-modal:before {
  content: "\e909";
}

.icon-like:before {
  content: "\e90a";
}

.icon-like-card:before {
  content: "\e90b";
  color: #bc1622;
}

.icon-list:before {
  content: "\e90c";
  color: #4f4f4f;
}

.icon-mail:before {
  content: "\e90d";
  color: #fff;
}

.icon-more:before {
  content: "\e90e";
  color: #fff;
}

.icon-phone:before {
  content: "\e90f";
  color: #fff;
}

.icon-point:before {
  content: "\e910";
  color: #fff;
}

.icon-remove:before {
  content: "\e911";
  color: #fff;
}

.icon-remove-card:before {
  content: "\e912";
}

.icon-search:before {
  content: "\e913";
  color: #fff;
}

.icon-tile:before {
  content: "\e914";
  color: #bc1622;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "roboto slab", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.test {
  width: 30px;
  height: 30px;
  position: relative;
}
/*# sourceMappingURL=style.css.map */