@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff"), url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/Robotomedium.woff2") format("woff2"), url("../fonts/roboto/Robotomedium.woff") format("woff"), url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab/Robotoslabregular.woff2") format("woff2"), url("../fonts/roboto-slab/Robotoslabregular.woff") format("woff"), url("../fonts/roboto-slab/Robotoslabregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Medium"), local("RobotoSlab-Medium"), url("../fonts/roboto-slab/Robotoslabmedium.woff2") format("woff2"), url("../fonts/roboto-slab/Robotoslabmedium.woff") format("woff"), url("../fonts/roboto-slab/Robotoslabmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/roboto-slab/Robotoslabbold.woff2") format("woff2"), url("../fonts/roboto-slab/Robotoslabbold.woff") format("woff"), url("../fonts/roboto-slab/Robotoslabbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/roboto-slab/Robotoslablight.woff2") format("woff2"), url("../fonts/roboto-slab/Robotoslablight.woff") format("woff"), url("../fonts/roboto-slab/Robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ebenya";
  src: url("EBENYA.eot?#iefix") format("embedded-opentype"), url("../fonts/ebenya/EBENYA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.eot");
  src: url("../fonts/icon/icomoon.eot") format("embedded-opentype"), url("../fonts/icon/icomoon.ttf") format("truetype"), url("../fonts/icon/icomoon.woff") format("woff"), url("../fonts/icon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-big-down:before {
  content: "\e900";
}

.icon-arrow-big-left:before {
  content: "\e901";
}

.icon-arrow-big-right:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e903";
  color: #4f4f4f;
}

.icon-arrow-left:before {
  content: "\e904";
}

.icon-arrow-up:before {
  content: "\e905";
  color: #4f4f4f;
}

.icon-basket:before {
  content: "\e906";
}

.icon-burger:before {
  content: "\e907";
}

.icon-clock:before {
  content: "\e908";
}

.icon-close-modal:before {
  content: "\e909";
}

.icon-like:before {
  content: "\e90a";
}

.icon-like-card:before {
  content: "\e90b";
}

.icon-list:before {
  content: "\e90c";
  color: #4f4f4f;
}

.icon-mail:before {
  content: "\e90d";
}

.icon-more:before {
  content: "\e90e";
}

.icon-phone:before {
  content: "\e90f";
}

.icon-point:before {
  content: "\e910";
}

.icon-remove:before {
  content: "\e911";
}

.icon-remove-card:before {
  content: "\e912";
}

.icon-search:before {
  content: "\e913";
}

.icon-tile:before {
  content: "\e914";
}

.icon-checkmark:before {
  content: "\ea10";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #1d1d1b;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 19px;
  color: #1d1d1b;
}

.container {
  max-width: 1442px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.content {
  max-width: 1074px;
  width: 100%;
}

.sidebar {
  max-width: 338px;
  width: 100%;
}

.slider-wrap {
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.tile::before {
  content: "";
  max-width: 338px;
  width: 100%;
  height: 0;
  order: 1;
}

.tile::after {
  content: "";
  max-width: 338px;
  width: 100%;
  height: 0;
}

.link:hover {
  color: #bc1622;
  text-decoration: underline;
}

.map {
  margin-bottom: 100px;
}

.logo {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.red-btn {
  background-color: #bc1622;
  color: #fff;
}

.grey-btn {
  background-color: #828282;
  color: #fff;
}

.white-btn-bd {
  border: 1px solid #fff;
  color: #fff;
}

.red-btn-bd {
  border: 1px solid #bc1622;
  color: #bc1622;
}

.input {
  width: 47.5%;
  position: relative;
  padding: 24px 15px 10px 15px;
  outline: none;
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #bdbdbd;
  margin-bottom: 30px;
}

.input-no-bd {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}

.input-no-bd:focus ~ .input__placeholder {
  font-weight: 500;
  font-size: 15px;
  transform: translate(0, -130%);
}

.input-no-bd:not(:placeholder-shown) ~ .input__placeholder {
  font-weight: 500;
  font-size: 15px;
  transform: translate(0, -130%);
}

.input__placeholder {
  position: absolute;
  top: 30px;
  transform: translate(0, -50%);
  display: block;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 120%;
  color: #4f4f4f;
  z-index: 0;
  transition: 0.2s ease-in-out;
}

.textarea {
  width: 100%;
  margin-bottom: 20px;
}

.textarea__input {
  height: 160px;
  resize: none;
}

.upload__label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.upload__btn {
  display: inline-block;
  margin-right: 12px;
}

.upload__info {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}

.upload__text {
  display: block;
}

.upload__input {
  display: none;
}

.path-wrap {
  display: flex;
  align-items: center;
  height: 70px;
  background: #f8f8f8;
}

.path__link {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.path__link:hover {
  text-decoration: underline;
}

.path {
  display: flex;
  align-items: center;
}

.path__point {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #1d1d1b;
  margin: 0 5px;
}

.counter {
  display: flex;
  width: 91px;
}

.counter__input {
  margin-right: 2px;
  padding: 20px 15px;
  width: 100%;
  text-align: center;
}

.counter__btn {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  margin-bottom: 2px;
  cursor: pointer;
}

.counter__btn:last-child {
  margin-bottom: 0;
}

.counter__icon {
  position: absolute;
  display: block;
  left: 50%;
  width: 10px;
  height: 0px;
  transform: translate(-50%, -50%);
}

.counter__inc::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 6px;
  color: #4f4f4f;
}

.counter__dec::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 6px;
  color: #4f4f4f;
}

.search {
  position: relative;
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: text;
}

.search::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.search__text {
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
}

.search__icon {
  margin-right: 2px;
}

.search__icon:before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 22px;
}

.contact {
  position: relative;
  padding-left: 30px;
  max-width: 270px;
}

.contact__icon {
  position: absolute;
  top: 3px;
  left: 0;
}

.contact__icon::before {
  color: #bc1622;
}

._contact-phone::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 21px;
}

._contact-mail::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 17px;
}

._contact-city::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 24px;
}

.contact__title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 3px;
}

.contact__time-work {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin-bottom: 3px;
  opacity: 0.75;
}

.contact__link {
  color: #828282;
  font-family: "Roboto", serif;
  cursor: pointer;
}

.contact__link:hover {
  text-decoration: underline;
}

.popup-nav-wrap {
  z-index: 1000;
}

.popup-nav-wrap:hover .popup-nav {
  top: 0;
  height: auto;
  overflow: visible;
}

.popup-nav-wrap:hover .popup-nav__list {
  opacity: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.popup-nav {
  position: absolute;
  top: 100px;
  left: -35px;
  overflow: hidden;
  padding: 0 15px;
  height: 0;
  transition: top 0.4s ease-in-out;
}

.popup-nav__list {
  margin-top: 60px;
  opacity: 0;
  width: 338px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  transition: opacity, box-shadow 0.4s ease-in-out;
}

.popup-nav__item:hover .popup-nav__sublist {
  height: auto;
}

.popup-nav__title {
  position: relative;
}

.popup-nav__title:hover {
  background: #f8f8f8;
}

.popup-nav__link {
  display: block;
  width: 100%;
  padding: 10px 15px 20px 15px;
  transition: background 0.2s ease-in-out;
}

.popup-nav__link:hover {
  color: #bc1622;
}

.popup-nav__arrow {
  position: absolute;
  top: 50%;
  width: 7px;
  height: 18px;
  right: 30px;
  transform: translate(0, -55%);
}

.popup-nav__icon {
  position: absolute;
}

.popup-nav__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 18px;
  color: #bc1622;
}

.popup-nav__sublist {
  background: #f2f2f2;
  overflow: hidden;
  height: 0;
}

.popup-nav__sublink {
  display: block;
  font-size: 14px;
  padding: 7px 15px;
}

.popup-nav__sublink:hover {
  text-decoration: underline;
  color: #bc1622;
}

.advantage {
  max-width: 311px;
}

.advantage__title {
  padding-left: 27px;
  position: relative;
  font-weight: normal;
  color: #bc1622;
  font-size: 64px;
  line-height: 84px;
}

.advantage__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: block;
  width: 17px;
  height: 17px;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
}

.advantage__desc {
  padding-left: 27px;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 21px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price__old {
  position: relative;
  margin-right: 10px;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
}

.price__old::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 120%;
  height: 2px;
  background: #828282;
}

.price__new {
  color: #bc1622;
}

.price__num {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-right: 12px;
}

.price__mark {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 23px;
}

.price__unit {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.favorite {
  position: relative;
  cursor: pointer;
}

.favorite__icon {
  position: relative;
  bottom: -5px;
}

.favorite__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 17px;
  color: #bc1622;
}

.favorite__add {
  font-family: "Roboto", serif;
  margin-left: auto;
  font-size: 12px;
  padding-bottom: 3px;
  margin-left: 2px;
  line-height: 20px;
  color: #bc1622;
  border-bottom: 1px dashed #bc1622;
}

.select {
  display: inline-block;
  position: relative;
}

.select:hover {
  z-index: 2000;
}

.select:hover .options__body {
  height: 290px;
}

.select__header {
  position: relative;
  display: inline-block;
  padding: 14px 93px 14px 10px;
  border: 1px solid #828282;
  border-bottom: none;
  color: #828282;
}

.select__header::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 19px;
  width: 12px;
  height: 4px;
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 6px;
}

.options__body {
  position: absolute;
  background: #fff;
  border: 1px solid #828282;
  border-top: none;
  width: 100%;
  left: 0;
  height: 1px;
  overflow: hidden;
}

.options {
  background: #fff;
  padding: 20px 10px;
}

.options__link {
  display: flex;
  align-items: center;
}

.options__checkbox {
  margin-right: 15px;
}

.options__list {
  height: 240px;
  overflow: auto;
  padding: 20px 10px;
  background: #fff;
  scrollbar-color: #bc1622 #e0e0e0;
  scrollbar-width: thin;
}

.options__list::-webkit-scrollbar {
  width: 4px;
  background-color: #e0e0e0;
}

.options__list::-webkit-scrollbar-thumb {
  background-color: #bc1622;
}

.options__item {
  margin-bottom: 10px;
}

.fake-checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #1d1d1b;
}

.fake-checkbox--is-active::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 18px;
  position: absolute;
  top: -30%;
  color: #bc1622;
}

.catalog-card {
  display: block;
  position: relative;
  max-width: 338px;
  width: 100%;
  margin: 0 0 30px 0;
  z-index: 0;
  transition: 0.5s;
}

.catalog-card:hover {
  z-index: 1000;
}

.catalog-card:hover .catalog-card__bg {
  height: 390px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.catalog-card:hover .catalog-card__back {
  transform: translate(0, 70%);
  opacity: 1;
}

.catalog-card:hover .catalog-card__more {
  opacity: 1;
  z-index: 0;
  bottom: -160px;
}

.catalog-card:hover .catalog-card__arrow {
  transform: rotate(-90deg);
  left: 290px;
  bottom: 10px;
}

.catalog-card__front {
  position: relative;
  background: linear-gradient(90.69deg, #e8e8e8 0.57%, #f1f1f1 99.4%);
  padding: 20px 15px;
  height: 230px;
  width: 100%;
}

.catalog-card__title {
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}

.catalog-card__img {
  position: absolute;
  right: 0;
  top: 0;
}

.catalog-card__back {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 15px 20px;
  height: 230px;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.catalog-card__list {
  margin-bottom: 20px;
  width: 300px;
}

.catalog-card__item {
  margin-bottom: 5px;
}

.catalog-card__item:last-child {
  margin-bottom: 0;
}

.catalog-card__link {
  font-size: 14px;
  line-height: 20px;
}

.catalog-card__link:hover {
  color: #bc1622;
}

.catalog-card__arrow {
  position: absolute;
  bottom: 80px;
  left: 15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
  transition: 0.5s ease-in;
}

.catalog-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-50%, 55%);
}

.catalog-card__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 20px;
  color: #fff;
}

.catalog-card__more {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #bc1622;
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.catalog-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  z-index: -1000;
  background: linear-gradient(90.69deg, #e8e8e8 0.57%, #f1f1f1 99.4%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}

.product-card {
  position: relative;
  margin: 0 0 30px 0;
  max-width: 338px;
  height: 500px;
  width: 100%;
  background: #fff;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.product-card:hover {
  z-index: 1000;
}

.product-card:hover .product-card__stiker {
  opacity: 1;
  z-index: 1000;
}

.product-card:hover .product-card__order {
  opacity: 1;
  z-index: 1000;
}

.product-card:hover .product-card__bg {
  height: 640px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card:hover .product-card__back {
  opacity: 1;
  bottom: -140px;
  z-index: 1000;
}

.product-card__preview {
  position: relative;
  width: 100%;
  height: 240px;
}

.product-card__stiker {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  z-index: -1;
  opacity: 0;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.product-card__stiker-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.product-card__stiker-icon::before {
  display: block;
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 35px;
  color: #bc1622;
}

.product-card__img {
  width: 100%;
  max-height: 240px;
  margin-bottom: 12px;
}

.product-card__info {
  padding: 0 15px 30px;
}

.product-card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 12px;
}

.product-card__center {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.product-card__buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card__order {
  position: absolute;
  bottom: 0;
  opacity: 0;
  right: 15px;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 20px;
  color: #bc1622;
  border-bottom: 1px dashed #bc1622;
  cursor: pointer;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.product-card__back {
  position: absolute;
  bottom: 100px;
  left: 0;
  opacity: 0;
  padding: 20px 15px;
  z-index: -1;
  max-width: 338px;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.product-card__list {
  font-family: "Roboto", serif;
}

.product-card__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-card__property {
  font-size: 14px;
  font-weight: 500;
}

.product-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 338px;
  height: 500px;
  width: 100%;
  background: #fff;
  z-index: -1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}

.basket-card {
  padding: 15px;
  position: relative;
}

.basket-card:nth-child(odd) {
  background: #f8f8f8;
}

.basket-card__remove {
  position: absolute;
  top: 12px;
  right: 27px;
  width: 23px;
  height: 23px;
  padding: 4px;
  display: block;
  cursor: pointer;
}

.basket-card__remove::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 15px;
}

.basket-card__top {
  display: flex;
  margin-bottom: 15px;
}

.basket-card__title {
  max-width: 410px;
  font-size: 14px;
  line-height: 150%;
  margin-right: 30px;
}

.basket-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

.basket__price-num {
  font-weight: normal;
  line-height: 90%;
  margin-right: 3px;
}

.basket-card__input {
  margin-bottom: 0;
  padding: 9px 15px;
  background: rgba(0, 0, 0, 0);
}

.basket-card__counter-btn {
  width: 20px;
  height: 20px;
}

.basket-card__counter-icon {
  left: 55%;
  height: 9px;
}

.basket-card__counter-icon::before {
  font-size: 4px;
}

.basket-card__price {
  color: #bc1622;
}

.basket-card__price-num {
  display: inline-block;
  margin-right: 13px;
  font-size: 24px;
  line-height: 32px;
}

.basket-card__price-mark {
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 21px;
}

.news-card {
  display: inline-block;
  width: 338px;
  height: 540px;
  margin: 0 0 30px 0;
  transition: 0.2s ease-in-out;
}

.news-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.news-card__preview {
  width: 100%;
  max-height: 240px;
  margin-bottom: 12px;
}

.news-card__preview-link {
  width: 100%;
  height: 100%;
}

.news-card__info {
  padding: 0 20px 20px;
}

.news-card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.news-card__date {
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  margin-bottom: 9px;
}

.news-card__desc {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 150%;
  color: #4f4f4f;
  margin-bottom: 10px;
}

.news-card__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: linear-gradient(0deg, #be1622 -0.04%, #1d1d1b 99.96%);
}

.news-card__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news-card__arrow::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 20px;
  color: #fff;
}

.modal-card {
  margin-bottom: 90px;
}

.modal-card__title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
}

.modal-card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-card__price-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.modal-card__price-num {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #bc1622;
}

.modal-card__price-mark {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.small-card {
  display: flex;
  align-items: center;
  background: #fff;
  width: 325px;
  height: 100px;
  padding: 5px 15px 5px 5px;
  border: 1px solid #e0e0e0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.small-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  border: 1px solid #bc1622;
}

.small-card:hover .small-card__title {
  color: #bc1622;
  text-decoration: underline;
}

.small-card__preview {
  margin-right: 20px;
}

.small-card__title {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 7px;
}

.small-card__desc {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}

.search-card {
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  background: #f8f8f8;
}

.search-card:last-child {
  margin-bottom: 0;
}

.search-card__price {
  margin-right: 90px;
}

.search-card__title {
  margin-right: auto;
  font-weight: 500;
  width: 525px;
  font-size: 14px;
  line-height: 150%;
}

.search-card__old {
  font-size: 14px;
  line-height: 18px;
}

.search-card__price-num {
  font-size: 18px;
  line-height: 24px;
  margin-right: 5px;
}

.price__mark {
  font-size: 16px;
  line-height: 19px;
}

.price__unit {
  font-size: 16px;
  line-height: 19px;
}

.search-card__arrow {
  width: 16px;
  height: 25px;
  margin-right: 10px;
}

.search-card__arrow::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 26px;
  color: #bc1622;
}

.icons-nav {
  position: fixed;
  padding: 36px 0;
  right: 0;
  top: 300px;
  width: 100px;
  height: 200px;
  background: #f8f8f8;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icons-nav__link {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto 50px;
}

.icons-nav__link:last-child {
  margin: 0 auto;
}

.icons-nav__item {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.icons-nav__item::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icons-nav__item--basket::before {
  background-image: url("../img/icon/basket-icon.svg");
}

.icons-nav__item--favorite::before {
  background-image: url("../img/icon/favorite-icon.svg");
}

.icons-nav__count {
  position: absolute;
  right: -16px;
  top: -50%;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #bc1622;
  color: #fff;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 32px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 470px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pagination__item {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 50px;
  color: #e0e0e0;
  transition: 0.2s;
}

.pagination__item:hover {
  border: 1px solid #bc1622;
  color: #bc1622;
}

.pagination__item--fake:hover {
  border: 1px solid #e0e0e0;
  color: #e0e0e0;
}

.pagination__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 25px;
  display: block;
}

.pagination__arrow::before {
  color: #bc1622;
}

.pagination__arrow--prev::before {
  display: block;
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 24px;
}

.pagination__arrow--next::before {
  display: block;
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 24px;
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.from__bottom {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.from__sumbit {
  border: none;
  outline: none;
  width: 47.5%;
  margin-bottom: 20px;
}

.from-approval {
  position: relative;
  padding-left: 26px;
  width: 47.5%;
  font-family: "Roboto", serif;
  font-size: 12px;
  line-height: 150%;
}

.from-approval__link {
  text-decoration: underline;
}

.from-approval__checkbox {
  display: none;
}

.from-approval__checkbox:checked ~ .from-approval__fake-checkbox::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 18px;
  position: absolute;
  top: -30%;
  color: #bc1622;
}

.from-approval__fake-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  position: relative;
  padding: 100px 0 50px 0;
}

.section__inner {
  position: relative;
}

.section__bg {
  position: absolute;
  left: -160px;
  transform: translate(0, -41%);
  font-family: "ebenya", sans-serif;
  font-size: 200px;
  line-height: 220px;
  text-transform: uppercase;
  color: #bc1622;
  opacity: 0.1;
}

.section--milk-bg {
  background: #f8f8f8;
}

.section__content {
  position: relative;
}

.section__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section__title {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  text-transform: uppercase;
}

.section__data {
  width: 100%;
  color: #828282;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 47px;
}

.section__desc {
  font-family: "Roboto", serif;
  font-size: 20px;
  line-height: 150%;
  color: #4f4f4f;
  margin-bottom: 50px;
}

.section__btn {
  text-align: center;
}

.section-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.section-dots__item {
  width: 20px;
  height: 5px;
  background: #828282;
  margin-right: 10px;
}

.section-dots__item:last-child {
  margin-right: 0px;
}

.section-dots__item--is-active {
  width: 40px;
  background: #bc1622;
}

.sections-arrow__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.sections-arrow__btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sections-arrow__prev {
  top: 41.5%;
  left: -35px;
}

.sections-arrow__next {
  top: 41.5%;
  right: -35px;
}

.sections-arrow__icon {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

.sections-arrow__icon::before {
  color: #bc1622;
}

.sections-arrow__icon--is-prev {
  left: 45%;
}

.sections-arrow__icon--is-prev::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 35px;
}

.sections-arrow__icon--is-next {
  left: 50%;
}

.sections-arrow__icon--is-next::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 35px;
}

.section__two-coll-text {
  columns: 2;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.basket {
  display: flex;
  justify-content: space-between;
}

.basket__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.basket__info {
  width: 49%;
}

.basket__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
}

.basket-total {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}

.basket-total__price-count {
  font-weight: 500;
  color: #bc1622;
}

.basket__form {
  width: 49%;
}

.display {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.display__selects-item {
  margin-right: 25px;
}

.display__selects-item:last-child {
  margin-right: 0;
}

.display-view {
  display: flex;
}

.display-view__item {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 35px;
  display: block;
}

.display-view__item:last-child {
  margin-right: 0;
}

.display-view__item::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4f4f4f;
}

.view-tile::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 34px;
}

.view-tile--is-active::before {
  color: #bc1622;
}

.view-list::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 20px;
}

.view-list--is-active::before {
  color: #bc1622;
}

.nav {
  width: 100%;
  background: #f8f8f8;
}

.nav__item:hover {
  background: #f2f2f2;
}

.nav__item:hover .nav__link {
  color: #bc1622;
}

.nav__item:hover .nav__sublist {
  height: auto;
}

.nav__title {
  position: relative;
}

.nav__link {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 25px 15px 10px;
}

.nav__arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  display: block;
}

.nav__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 16px;
  color: #bc1622;
}

.nav__sublist {
  height: 0;
  overflow: hidden;
}

.nav__sublink {
  display: block;
  padding: 7px 10px 7px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.header {
  padding-top: 40px;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
}

.main-header {
  position: relative;
  padding: 0 0 171px 0;
}

.m-h__top {
  height: 40px;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
}

.main-header__bg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: auto;
}

.m-h__search::before {
  opacity: 0.75;
  background: #fff;
}

.m-h__search-text {
  opacity: 0.75;
  color: #fff;
}

.m-h__search-icon::before {
  color: #fff;
}

.m-h__contact-icon::before {
  color: #fff;
}

.m-h__contact-title {
  color: #fff;
}

.m-h__contact-link {
  color: #fff;
  opacity: 0.75;
}

.m-h__nav {
  margin-bottom: 100px;
}

.header-nav__item {
  position: relative;
  z-index: 100;
}

.m-h__title {
  position: relative;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
  text-transform: uppercase;
  max-width: 950px;
  color: #fff;
  margin-bottom: 270px;
}

.m-h-section {
  padding-top: 0;
  margin-bottom: 0;
}

.m-h-section__bg {
  transform: translate(0, -50%);
  color: #fff;
  opacity: 0.3;
}

.m-h__advantages__list {
  color: #fff;
}

.m-h__advantages__title {
  color: #fff;
}

.m-h__advantages__title::before {
  background: #fff;
}

.m-h-advantage__desc {
  color: #e0e0e0;
}

.header__top {
  display: flex;
  align-items: center;
  height: 100px;
}

.header__top-wrap {
  background: #fff;
}

.header__logo {
  margin-right: 74px;
  position: relative;
}

.header__search {
  margin-right: 64px;
}

.header__contacts {
  margin-right: auto;
  display: flex;
}

.header__contact-item {
  margin-right: 27px;
}

.header__contact-item:last-child {
  margin-right: 0;
}

.header__feedback {
  position: relative;
}

.header-nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__catalog {
  position: relative;
  align-items: center;
  margin-right: 180px;
}

.h-catalog__icon {
  margin-right: 12px;
}

.h-catalog__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 14px;
  color: #fff;
}

.header__more {
  position: relative;
  position: relative;
  padding-right: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.h-more__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -55%);
}

.h-more__icon::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 5px;
  color: #fff;
}

.header-nav__list {
  position: relative;
}

.header-nav__link {
  margin-right: 30px;
}

.header-nav__link:last-child {
  margin-right: 0;
}

.header-nav__item {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}

.product-slider {
  position: relative;
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
}

.product-slider__track {
  display: flex;
}

.product-slider__slide {
  min-width: 338px;
  margin-right: 30px;
}

.error404 {
  display: flex;
  justify-content: space-between;
}

.error404__coll {
  display: flex;
  width: 49%;
  align-items: center;
  justify-content: center;
}

.error404__msg {
  font-family: "Roboto", serif;
  font-size: 24px;
  line-height: 150%;
  color: #4f4f4f;
}

.error404__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #bc1622;
}

.error404__num {
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
}

.error404__text {
  font-weight: bold;
  font-size: 72px;
  line-height: 95px;
  text-transform: uppercase;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about__desc {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
}

.about__text {
  width: 49%;
}

.about__info {
  margin-bottom: 50px;
}

.about__img {
  width: 49%;
}

.about__img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__img-item {
  width: 49%;
  margin-bottom: 40px;
}

.bank-account__title {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}

.bank-account__item {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #4f4f4f;
  margin-bottom: 15px;
}

.bank-account__name {
  font-weight: bold;
}

.our-contacts {
  display: flex;
  justify-content: space-between;
}

.our-contacts__left {
  display: flex;
  width: 49%;
  justify-content: space-between;
}

.our-contacts__item {
  margin-bottom: 40px;
}

.our-contacts__item:last-child {
  margin-bottom: 0;
}

.our-contacts__link {
  color: #1d1d1b;
}

.our-contacts__address {
  color: #1d1d1b;
  cursor: default;
}

.our-contacts__address:hover {
  text-decoration: none;
}

.our-contacts__form {
  width: 49%;
}

.feetback-form__btn {
  display: flex;
  flex-direction: column;
}

.feetback-form__approval {
  position: relative;
  padding-left: 26px;
  width: 100%;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 150%;
}

.feetback-form__textarea {
  height: 95px;
}

.footer {
  background: #e0e0e0;
  padding: 55px 0 15px 0;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.footer-right {
  display: inline-block;
  width: 338px;
  margin-right: 26px;
}

.footer__logo {
  margin-bottom: 45px;
  width: 250px;
}

.footer__contacts {
  margin-bottom: 45px;
}

.footer__contact-item {
  margin-bottom: 30px;
}

.footer__contact-item:last-child {
  margin-bottom: 0;
}

.footer-right__item {
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.footer-right__item:last-child {
  margin-bottom: 0;
}

.footer-right__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer-coll {
  width: 338px;
  margin-right: 30px;
}

.footer-coll:last-child {
  margin-right: 0;
}

.footer-coll__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.footer-coll__item {
  margin-bottom: 10px;
}

.footer-coll__link {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

.footer-coll__more {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #4f4f4f;
  text-decoration: underline;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 150%;
}

.footer__privacy-policy {
  text-decoration: underline;
}

.footer__map-site {
  text-decoration: underline;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 800px;
  width: 100%;
  background: rgba(0, 0, 0, 0.466);
  z-index: 1000;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.modal-search {
  max-width: 1440px;
}

.modal--is-show {
  display: block;
}

.modal__content {
  padding: 40px 35px 60px;
  background: #fff;
  width: 100%;
}

.modal__title {
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 9px;
}

.modal__desc {
  font-family: "Roboto", serif;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("./../img/icon/close-icon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.modal__result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(29, 29, 27, 0.5);
  z-index: -1000;
}

.modal__msg {
  font-size: 36px;
  line-height: 47px;
  color: #fff;
  margin-bottom: 30px;
}

.modal__total-product,
.modal__total-price {
  color: #bc1622;
}

.modal__btns {
  display: flex;
  justify-content: space-between;
}

.modal__btn {
  width: 48%;
}

.modal-search__bd {
  position: relative;
  padding: 1px 1px 1px 2px;
  background: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
  margin-bottom: 35px;
}

.modal-search__loupe {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.modal-search__loupe::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 30px;
  color: #bc1622;
}

.modal-search__input {
  border: none;
  outline: none;
  background: #fff;
  padding: 16.5px 20px;
  width: 100%;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__input::-webkit-input-placeholder {
  color: #828282;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__input::-moz-placeholder {
  color: #828282;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__input:-moz-placeholder {
  color: #828282;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__input:-ms-input-placeholder {
  color: #828282;
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__branches {
  height: 633px;
  overflow: auto;
}

.modal-search__item {
  display: inline-block;
  width: 24%;
  margin-bottom: 20px;
}

.modal-search__link {
  font-family: "Roboto", serif;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 150%;
}

.search-form {
  background: #fff;
  display: flex;
  align-items: center;
}

.search-form__area {
  position: relative;
  margin-left: 5px;
  background: #bc1622;
  padding: 13px 10px;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 150%;
  width: 240px;
  cursor: pointer;
}

.modal-search__arrow {
  position: absolute;
  right: 20px;
}

.modal-search__arrow::before {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: 1;
  content: "";
  font-size: 6px;
}

.modal-search__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-search__list {
  margin-bottom: 40px;
}

.modal-search__bottom {
  text-align: right;
}

.mb0 {
  margin-bottom: 0;
}

.mb120 {
  margin-bottom: 120px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb0 {
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */