@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto/Roboto.woff2") format("woff2"),
    url("../fonts/roboto/Roboto.woff") format("woff"),
    url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto/Robotomedium.woff2") format("woff2"),
    url("../fonts/roboto/Robotomedium.woff") format("woff"),
    url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/roboto-slab/Robotoslabregular.woff2") format("woff2"),
    url("../fonts/roboto-slab/Robotoslabregular.woff") format("woff"),
    url("../fonts/roboto-slab/Robotoslabregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url("../fonts/roboto-slab/Robotoslabbold.woff2") format("woff2"),
    url("../fonts/roboto-slab/Robotoslabbold.woff") format("woff"),
    url("../fonts/roboto-slab/Robotoslabbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"),
    url("../fonts/roboto-slab/Robotoslablight.woff2") format("woff2"),
    url("../fonts/roboto-slab/Robotoslablight.woff") format("woff"),
    url("../fonts/roboto-slab/Robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ebenya";
  src: url("EBENYA.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ebenya/EBENYA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
