@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/robotoslab-regular-webfont.eot");
  src: url("robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/robotoslab-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto/robotoslab-regular-webfont.woff") format("woff"),
    url("../fonts/roboto/robotoslab-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto slab";
  src: url("../fonts/roboto-slab/robotoslab-regular-webfont.eot");
  src: url("robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-slab/robotoslab-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-slab/robotoslab-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-slab/robotoslab-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto slab";
  src: url("../fonts/roboto-slab/robotoslab-bold-webfont.eot");
  src: url("robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto-slab/robotoslab-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-slab/robotoslab-bold-webfont.woff") format("woff"),
    url("../fonts/roboto-slab/robotoslab-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ebenya";
  src: url("../fonts/ebenya/ebenya-webfont.eot");
  src: url("ebenya-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ebenya/ebenya-webfont.woff2") format("woff2"),
    url("../fonts/ebenya/ebenya-webfont.woff") format("woff"),
    url("../fonts/ebenya/ebenya-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
