//шрифты
$baseFont: "roboto slab", sans-serif;
$accentFont: "roboto", sans-serif;
$decorative: "ebenya";

//Основные цвета
$base: #bc1622;
$base-lg: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
$base-blake: #1d1d1b;
//доп. цвета
$milk: #f8f8f8;
$l-grey-lg: linear-gradient(90.69deg, #e8e8e8 0.57%, #f1f1f1 99.4%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: $baseFont;
  font-weight: bold;
  font-size: 60px;
}

.test {
  width: 30px;
  height: 30px;
  position: relative;
}
