//шрифты
$robotoS: "Roboto Slab", serif;
$roboto: "Roboto", serif;
$ebenya: "ebenya", sans-serif;

//Основные цвета
$base: #bc1622;
$base-lg: linear-gradient(90deg, #be1622 -0.04%, #1d1d1b 99.96%);
$base-lgh: linear-gradient(0deg, #be1622 -0.04%, #1d1d1b 99.96%);
$base-black: #1d1d1b;
//доп. цвета
$milk: #f8f8f8;
$pearl: #f2f2f2;
$l-grey-lg: linear-gradient(90.69deg, #e8e8e8 0.57%, #f1f1f1 99.4%);

$l-grey: #e0e0e0;
$grey: #828282;
$d-grey: #4f4f4f;

$white: #fff;
$black: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $base-black;
}

ul {
  list-style-type: none;
}

body {
  font-family: $robotoS;
  font-size: 16px;
  line-height: 19px;
  color: $base-black;
  padding-bottom: 500px;
}

@mixin font-icon-style($code, $size) {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  content: $code;
  font-size: $size;
}

.container {
  max-width: 1442px;
  width: 100%;
  margin: 0 auto;
}

.slider-wrap {
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.link {
  &:hover {
    color: $base;
    text-decoration: underline;
  }
}
