.basket {
  display: flex;
  flex-direction: column;
  @media (min-width: 1050px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.basket__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 27px;
}

.basket__info {
  width: 100%;

  margin: 0 0 50px 0;
  @media (min-width: 1050px) {
    min-width: 670px;
    margin: 0 20px 0 0;
    width: 49%;
  }
}

.basket__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-right: 30px;
  @media (min-width: 1050px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.basket-total {
  font-family: $roboto;
  font-size: 14px;
  line-height: 150%;
  color: $d-grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 180px;

  @media (min-width: 1050px) {
    font-size: 16px;
    line-height: 150%;
  }
}

.basket-total__price-count {
  font-weight: 500;
  color: $base;
}

.basket__form {
  @media (min-width: 1050px) {
    width: 49%;
  }
}

.basket__form-input {
  @media (min-width: 500px) {
    width: 49%;
  }
  @media (min-width: 1050px) {
    width: 100%;
  }
  @media (min-width: 1280px) {
    width: 49%;
  }
}

.basket__form-btn {
  flex-direction: column;
}

.basket__form-approval {
  width: 100%;
}

.basket__form-sumbit {
  width: 100%;
  @media (min-width: 500px) {
    width: 49%;
  }
  @media (min-width: 1050px) {
    min-width: 250px;
  }
  //width: 250px;
}
