.display {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 400px) {
    flex-direction: row;
    align-items: center;
  }
}

.display__selects {
  margin-bottom: 20px;
  @media (min-width: 400px) {
    margin-bottom: 0;
  }
}

.display__selects-item {
  //margin-right: 25px;
  width: 100%;
  &:last-child {
    display: none;
    margin-right: 0;
  }

  @media (min-width: 400px) {
    width: auto;
  }

  @media (min-width: 768px) {
    margin-right: 25px;
    &:last-child {
      display: inline-block;
      margin-right: 0;
    }
  }
}

.display__selects-header {
  width: 100%;

  @media (min-width: 400px) {
    width: auto;
  }
}

.display-view {
  display: flex;
}

.display-view__item {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 35px;
  display: block;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $d-grey;
  }
}

.view-tile {
  &::before {
    @include font-icon-style("\e914", 34px);
  }
}

.view-list {
  &::before {
    @include font-icon-style("\e90c", 20px);
  }
}

.view--is-active {
  &::before {
    color: $base;
  }
}
