.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-family: $roboto;
  font-size: 10px;
  line-height: 150%;
  @media (min-width: 1000px) {
    display: flex;
    font-size: 14px;
  }
}

.footer__copyright {
  margin-right: 30px;
}

.footer__privacy-policy {
  text-decoration: underline;
}

.footer__map-site {
  text-decoration: underline;
  white-space: nowrap;
}
