.footer__nav {
  //display: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media (min-width: 1400px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.footer-coll {
  width: 100%;
  margin: 0 0 30px 0;
  &:last-child {
    margin: 0;
  }

  @media (min-width: 500px) {
    width: 49%;
  }

  @media (min-width: 700px) {
    width: 31%;
  }

  @media (min-width: 1130px) {
    width: 338px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-coll__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.footer-coll__item {
  margin-bottom: 10px;
}

.footer-coll__link {
  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  color: $d-grey;
}

.footer-coll__more {
  font-family: $roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $d-grey;
  text-decoration: underline;
}
