.form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.from__bottom {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.from__sumbit {
  border: none;
  outline: none;
  margin-bottom: 20px;
  @media (min-width: 650px) {
    width: 49%;
  }
}

.from-approval {
  position: relative;
  padding-left: 26px;
  width: 47.5%;
  font-family: $roboto;
  font-size: 12px;
  line-height: 150%;
}

.from-approval__link {
  text-decoration: underline;
}
.from-approval__checkbox {
  display: none;
  &:checked ~ .from-approval__fake-checkbox {
    &::before {
      @include font-icon-style("\ea10", 18px);
      position: absolute;
      top: -30%;
      color: $base;
    }
  }
}
.from-approval__fake-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}
