.main-header__mobile {
  @media (min-width: 1130px) {
    display: none;
  }
}

.main-header {
  width: 100%;
  position: relative;
  overflow: hidden;

  @media (min-width: 1130px) {
    overflow: visible;
  }
  @media (min-width: 1280px) {
    padding: 40px 0 0 0;
    overflow: visible;
    padding: 0 0 30px 0;
  }
  @media (min-width: 1472px) {
    padding: 0 0 50px 0;
  }
}

.main-header__desktop {
  display: none;
  @media (min-width: 1130px) {
    margin-bottom: 50px;
    display: block;
  }
  @media (min-width: 1800px) {
    margin-bottom: 100px;
  }
}

.m-h-section {
  padding-bottom: 0;
}

.m-h__feedback {
  position: relative;
}

.m-h__top {
  height: 40px;
  background: $base-lg;
}

.main-header__bg {
  position: absolute;
  top: 0;
  left: -50%;
  max-height: 410px;
  @media (min-width: 500px) {
    left: 0;
  }
  @media (min-width: 600px) {
    width: 100%;
    max-height: none;
  }
  @media (min-width: 1130px) {
    top: 40px;
  }
}

.m-h__search {
  &::before {
    opacity: 0.75;
    background: $white;
  }
}

.m-h__search-text {
  opacity: 0.75;
  color: $white;
}

.m-h__search-icon {
  &::before {
    color: $white;
  }
}

.m-h__contact-icon {
  &::before {
    color: $white;
  }
}

.m-h__contact-title {
  color: $white;
}

.m-h__contact-link {
  color: $white;
  opacity: 0.75;
}

.m-h__advantages {
  height: 120px;
  @media (min-width: 1130px) {
    height: 180px;
  }
}

.header-nav__item {
  position: relative;
  z-index: 100;
}

.m-h__title {
  position: relative;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  max-width: 950px;
  color: $white;
  margin-bottom: 25px;

  @media (min-width: 600px) {
    margin-bottom: 50px;
  }
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1280px) {
    font-size: 50px;
    line-height: 69px;
  }
  @media (min-width: 1472px) {
    margin-bottom: 150px;
    font-size: 55px;
    line-height: 70px;
  }
  @media (min-width: 1800px) {
    margin-bottom: 230px;
    font-size: 60px;
    line-height: 79px;
  }
}

.m-h-section {
  padding: 0 0 15px 0;
  margin-bottom: 0;
}

.m-h-section__bg {
  transform: translate(0, -50%);
  color: $white;
  opacity: 0.3;
}

.m-h__advantages {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 9em;
  }
}

.m-h__advantages__list {
  color: $white;
}

.m-h__advantages__title {
  color: $white;
  &::before {
    background: $white;
  }
}

.m-h-advantage__desc {
  color: $l-grey;
}
