.map {
  position: relative;
  overflow: hidden;
  margin: 0 auto 100px;
  max-width: 1472px;

  height: 320px;

  @media (min-width: 1130px) {
    height: 580px;
  }
}

.map__img {
  padding: 0 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
