.modal-bg {
  width: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0);

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  transition: background 0.5s ease-in-out;
}

.modal {
  transform: translate(0, -100%);
  transition: 0.5s ease-in-out;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
}

.modal-search {
  max-width: 1442px;
}

.modal--is-hide {
  z-index: -1000;
}

.modal--is-open {
  background: rgba(0, 0, 0, 0.466);
  opacity: 1;
  .modal {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.modal__content {
  padding: 40px 10px 30px;
  background: $white;
  width: 100%;
  @media (min-width: 1130px) {
    padding: 40px 35px 60px;
  }
}

.modal__title {
  font-size: 24px;
  line-height: 47px;
  margin-bottom: 9px;
  @media (min-width: 1130px) {
    font-size: 36px;
  }
}

.modal__desc {
  font-family: $roboto;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("./../img/icon/close-icon.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}

.modal__result {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(29, 29, 27, 0.5);
}

.modal__result--is-show {
  display: flex;
}
.modal__msg {
  font-size: 36px;
  line-height: 47px;
  color: $white;
  margin-bottom: 30px;
}

.modal__total-product,
.modal__total-price {
  color: $base;
  white-space: nowrap;
}

.modal__btns {
  display: flex;
  justify-content: space-between;
}

.modal__btn {
  width: 48%;
}

.modal-search__input {
  border: none;
  outline: none;
  background: $white;
  padding: 10px 10px;
  width: 100%;
  font-family: $roboto;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__input::-webkit-input-placeholder {
  color: $grey;
  font-family: $roboto;
  font-size: 18px;
  line-height: 150%;
}
.modal-search__input::-moz-placeholder {
  color: $grey;
  font-family: $roboto;
  font-size: 18px;
  line-height: 150%;
}
.modal-search__input:-moz-placeholder {
  color: $grey;
  font-family: $roboto;
  font-size: 18px;
  line-height: 150%;
}
.modal-search__input:-ms-input-placeholder {
  color: $grey;
  font-family: $roboto;
  font-size: 18px;
  line-height: 150%;
}

.modal-search__loupe {
  position: absolute;
  right: 15px;
  top: 50%;

  transform: translate(0, -50%);
  display: block;
  width: 31px;
  height: 31px;
  cursor: pointer;

  &::before {
    @include font-icon-style("\e913", 30px);
    color: $base;
  }
}

.modal-search__city-list {
  height: 330px;
  overflow: auto;
  scrollbar-color: $base $l-grey;
  scrollbar-width: thin;
  @media (min-width: 1130px) {
    height: 440px;
  }
}

.modal-search__city-list::-webkit-scrollbar {
  width: 8px;
  background-color: $l-grey;
}

.modal-search__city-list::-webkit-scrollbar-thumb {
  background-color: $base;
}

.modal-search-city {
  position: relative;
  border: 1px solid $base;
  margin-bottom: 30px;
}

.modal-search__arrow {
  position: absolute;
  right: 20px;
  &::before {
    @include font-icon-style("\e903", 6px);
  }
}

.modal-search__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media (min-width: 900px) {
    &::before {
      content: "";
      width: 32%;
      height: 0;
      order: 1;
    }
    &::after {
      content: "";
      width: 32%;
      height: 0;
    }
  }

  @media (min-width: 900px) {
    &::before {
      content: "";
      width: 32%;
      height: 0;
      order: 1;
    }
    &::after {
      content: "";
      width: 32%;
      height: 0;
    }
  }

  @media (min-width: 1442px) {
    &::before {
      width: 325px;
    }
    &::after {
      width: 325px;
    }
  }
}

.modal-search__list {
  margin-bottom: 40px;
}

.modal-search__bottom {
  @media (min-width: 600px) {
    text-align: right;
  }
}

.add-modal {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(0, 100%);
  z-index: 1000;
  transition: 0.5s ease-in-out;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.add-modal--is-open {
  transform: translate(0, 0);
  opacity: 1;
  box-shadow: -3px -3px 15px rgba(0, 0, 0, 0.2);
}

.add-modal__content {
  background: $white;
  padding: 40px 20px 10px;
  transition: 0.2s ease-in-out;
}

.add-modal__info {
  margin-bottom: 20px;
}

.add-modal__title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 9px;
}

.add-modal__desc {
  font-size: 16px;
  line-height: 20px;
}

.add-modal__btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
