.nav-wrap {
  display: flex;
  //overflow: hidden;
  min-height: 100px;
}

.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}

.nav {
  display: flex;
  min-width: 338px;
  width: 100%;
  right: 0%;
  opacity: 1;
  transition: 0.5s ease-in-out;
  background: $milk;
  z-index: 10;
}
.nav--move {
  position: absolute;
}
.nav--hide {
  opacity: 0;
}
.nav--left {
  right: 102%;
  max-width: 338px;
  background: $milk;
  z-index: 100;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
}

.nav--right {
  right: -102%;
  max-width: 338px;
  background: $milk;
  z-index: 100;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
}

.nav-back__icon {
  position: absolute;
  top: 33%;
  left: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  cursor: pointer;
  &::before {
    @include font-icon-style("\e904", 12px);
    position: relative;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, 0);
    color: $white;
  }
}

.nav-list {
  display: block;
  width: 100%;
  background: $milk;
}

.nav-list__item {
  position: relative;
  transition: 0.2s ease-in-out;
}

.nav-back {
  position: relative;
  display: block;
  background: $base;
  padding: 15px 15px 15px 50px;
  cursor: pointer;
  &:hover {
    background: $base;
  }
}

.nav-list__link--current {
  font-weight: 600;
  color: $base;
  border-bottom: 1px solid $base;
  background: #f8f8f8;
  &:hover {
    background: #f8f8f8;
  }
}

.nav-back__text {
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

.nav-list__link {
  display: block;
  width: 100%;
  padding: 15px 40px 15px 15px;
  font-size: 16px;
  line-height: 20px;
}

.dropdown__header {
  position: relative;
}

.dropdown__body {
  overflow: hidden;
  height: 0;
  transition: 0.2s ease-in-out;
}

.nav-list__arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &::before {
    @include font-icon-style("\e904", 12px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-list__sublink {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 15px;
  &:hover {
    color: $base;
    text-decoration: underline;
  }
}

//.nav__item {
//  &:hover {
//    background: $pearl;
//  }
//  &:hover .nav__link {
//    color: $base;
//  }
//  &:hover .nav__sublist {
//    height: auto;
//  }
//}

//.nav__title {
//  position: relative;
//}

//.nav__link {
//  display: block;
//  width: 100%;
//  font-size: 16px;
//  line-height: 20px;
//  padding: 15px 25px 15px 10px;
//}

//.nav__arrow {
//  position: absolute;
//  top: 50%;
//  right: 30px;
//  transform: translate(0, -50%);
//  display: block;
//}

//.nav__icon {
//  &::before {
//    @include font-icon-style("\e904", 16px);
//    color: $base;
//  }
//}

//.nav__sublist {
//  height: 0;
//  overflow: hidden;
//}

//.nav__sublink {
//  display: block;
//  padding: 7px 10px 7px 10px;
//  font-weight: normal;
//  font-size: 14px;
//  line-height: 20px;
//}
