.section {
  position: relative;
  padding: 50px 0 50px 0;

  @media (min-width: 1130px) {
    padding: 100px 0 50px 0;
  }
}

.section__inner {
  position: relative;
}

.section__bg {
  display: none;
  position: absolute;
  left: 20px;
  transform: translate(0, -10%);

  font-family: $ebenya;
  font-size: 100px;
  line-height: 220px;
  text-transform: uppercase;
  color: $base;
  opacity: 0.1;
  @media (min-width: 1130px) {
    display: block;
  }

  @media (min-width: 1280px) {
    font-size: 140px;
  }
  @media (min-width: 1900px) {
    left: -160px;
    //transform: translate(0, -41%);
    font-size: 200px;
    line-height: 220px;
  }
}

.section--milk-bg {
  background: $milk;
}

.section__content {
  position: relative;
}

.section__header {
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: space-between;
  margin-bottom: 40px;
  @media (min-width: 700px) {
    align-items: center;
    flex-direction: row;
  }
}

.section__title {
  position: relative;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media (min-width: 1130px) {
    font-size: 48px;
    line-height: 63px;
  }
}

.section__more {
  max-width: 290px;
}

.section__btn--mobile {
  @media (min-width: 1130px) {
    display: none;
  }
}

.section__btn--desktop {
  display: none;
  @media (min-width: 1130px) {
    display: block;
  }
}

.section__data {
  width: 100%;
  color: $grey;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  @media (min-width: 1130px) {
    margin-bottom: 47px;
  }
}

.section__desc {
  font-family: $roboto;
  font-size: 20px;
  line-height: 150%;
  color: $d-grey;
  margin-bottom: 50px;
}

.section__btn {
  text-align: center;
}

.section-dots {
  display: flex;
  justify-content: center;
  //margin-bottom: 20px;
  @media (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.section-dots__item {
  width: 20px;
  height: 5px;
  background: $grey;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.section-dots__item--is-active {
  width: 40px;
  background: $base;
}

.sections-arrow__btn {
  position: absolute;
  top: 190px;
  width: 33px;
  height: 33px;
  background: $white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 1280px) {
    width: 50px;
    height: 50px;
  }
  @media (min-width: 1472px) {
    display: block;
  }
}

.sections-arrow--two-floor {
  top: 47%;

  @media (min-width: 1280px) {
    top: 41.5%;
  }
}

.sections-arrow__prev {
  left: 0px;
  @media (min-width: 768px) {
    left: -30px;
  }
  @media (min-width: 1280px) {
    left: -50px;
  }
}

.sections-arrow__next {
  right: 0px;
  @media (min-width: 768px) {
    right: -30px;
  }
  @media (min-width: 1280px) {
    right: -50px;
  }
}

.sections-arrow__icon {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  &::before {
    color: $base;
  }
}

.sections-arrow__icon--is-prev {
  left: 50%;
  &::before {
    @include font-icon-style("\e902", 28px);
  }

  @media (min-width: 1280px) {
    &::before {
      @include font-icon-style("\e902", 35px);
    }
  }
}

.sections-arrow__icon--is-next {
  left: 50%;
  &::before {
    @include font-icon-style("\e901", 28px);
  }

  @media (min-width: 1280px) {
    &::before {
      @include font-icon-style("\e901", 35px);
    }
  }
}

.section__two-coll-text {
  @media (min-width: 1130px) {
    columns: 2;
  }
}
