.section {
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}

.section__inner {
  position: relative;
}

.section__bg {
  position: absolute;
  left: -160px;
  transform: translate(0, -41%);

  font-family: $ebenya;
  font-size: 200px;
  line-height: 220px;
  text-transform: uppercase;
  color: $base;
  opacity: 0.1;
}

.section--milk-bg {
  background: $milk;
}

.section__content {
  position: relative;
}

.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.section__btn {
  text-align: center;
}

.section__more {
  display: inline-block;
  margin: 0 auto;
}

.section-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.section-dots__item {
  width: 20px;
  height: 5px;
  background: $grey;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.section-dots__item--is-active {
  width: 40px;
  background: $base;
}
