.advantage {
  min-width: 237px;
  max-width: 237px;
  margin-right: 10px;
  @media (min-width: 1280px) {
    margin-right: 0;
    max-width: 311px;
  }
}

.advantage__title {
  padding-left: 27px;
  position: relative;
  font-weight: normal;
  color: $base;
  font-size: 36px;
  line-height: 47px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    width: 17px;
    height: 17px;
    background: $base-lg;
  }
  @media (min-width: 1280px) {
    font-size: 64px;
    line-height: 84px;
  }
}

.advantage__desc {
  padding-left: 27px;
  font-family: $roboto;
  font-size: 13px;
  line-height: 15px;
  @media (min-width: 1280px) {
    font-size: 18px;
    line-height: 21px;
  }
}
