.basket-card {
  padding: 10px;
  position: relative;
  &:nth-child(odd) {
    background: $milk;
  }
  @media (min-width: 768px) {
    padding: 15px;
  }
}

.basket-card__remove {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 23px;
  height: 23px;
  padding: 4px;
  display: block;
  cursor: pointer;

  &::before {
    @include font-icon-style("\e912", 15px);
  }
  @media (min-width: 768px) {
    top: 12px;
    right: 27px;
  }
}

.basket-card__top {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.basket-card__title {
  max-width: 410px;
  font-size: 14px;
  line-height: 150%;
  margin: 0 50px 10px 0;
  @media (min-width: 768px) {
    flex-direction: row;
    margin: 0 30px 0 0;
  }
}

.basket__favorite {
  @media (min-width: 768px) {
    margin: 0 50px 0 auto;
    max-width: 170px;
  }
  @media (min-width: 1050px) {
    margin: 0;
    width: 49%;
  }
}

.basket-card__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 500px;
}

.basket-card__price-old {
  font-size: 14px;
  line-height: 18px;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.basket__price-num {
  font-weight: normal;

  margin-right: 3px;

  font-size: 18px;
  line-height: 24px;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 90%;
  }
}

.basket-card__input {
  margin-bottom: 0;
  padding: 9px 15px;
  background: rgba(0, 0, 0, 0);
}

.basket-card__counter-btn {
  width: 20px;
  height: 20px;
}

.basket-card__counter-icon {
  left: 55%;
  height: 9px;
  &::before {
    font-size: 4px;
  }
}

.basket-card__price {
  color: $base;
}

.basket-card__price-num {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
  line-height: 24px;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.basket-card__price-mark {
  font-family: $roboto;
  font-size: 18px;
  line-height: 21px;
}

.basket-rez {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}

.basket-rez--is-show {
  display: block;
}
