.contact {
  position: relative;
  padding-left: 30px;
  max-width: 270px;
}

.contact__icon {
  position: absolute;
  top: 3px;
  left: 0;
  &::before {
    color: $base;
  }
}

._contact-phone {
  &::before {
    @include font-icon-style("\e90f", 21px);
  }
}

._contact-mail {
  &::before {
    @include font-icon-style("\e90d", 17px);
  }
}

._contact-city {
  &::before {
    @include font-icon-style("\e910", 24px);
  }
}

.contact__title {
  font-family: $robotoS;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 3px;
}

.contact__time-work {
  font-family: $roboto;
  font-size: 14px;
  line-height: 16px;
  color: $d-grey;
  margin-bottom: 3px;

  opacity: 0.75;
}

.contact__link {
  color: $grey;
  font-family: $roboto;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
