.counter {
  display: flex;
  width: 91px;
}

.counter__input {
  margin-right: 2px;
  padding: 20px 15px;
  width: 100%;
  text-align: center;
}

.counter__btn {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  margin-bottom: 2px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}

.counter__icon {
  position: absolute;
  display: block;
  left: 50%;
  width: 10px;
  height: 0px;
  transform: translate(-50%, -50%);
}

.counter__inc {
  //top: 50%;
  &::before {
    @include font-icon-style("\e905", 6px);
    color: $d-grey;
  }
}

.counter__dec {
  //top: 50%;
  &::before {
    @include font-icon-style("\e903", 6px);
    color: $d-grey;
  }
}
