.favorite {
  position: relative;
  cursor: pointer;
}

.favorite__icon {
  position: relative;
  bottom: -5px;
  &::before {
    @include font-icon-style("\e915", 17px);
    color: $base;
  }
}

.favorite__icon--is-active {
  &::before {
    @include font-icon-style("\e90b", 17px);
  }
}

.favorite__add {
  font-family: $roboto;
  margin-left: auto;
  font-size: 12px;
  padding-bottom: 3px;
  margin-left: 2px;
  line-height: 20px;
  color: $base;
  border-bottom: 1px dashed $base;
}
