.our-news {
  margin-bottom: 30px;
}

.news-card {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  }
  @media (min-width: 1400px) {
    max-width: 338px;
    height: 540px;
  }
}

.news-card__preview {
  position: relative;
  width: 100%;
  height: 240px;
  margin-bottom: 12px;
}

.news-card__preview-link {
  width: 100%;
}

.news-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 20px 20px;
}

.news-card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.news-card__date {
  font-size: 16px;
  line-height: 150%;
  color: $grey;
}

.news-card__desc {
  font-family: $roboto;
  font-size: 14px;
  line-height: 150%;
  color: $d-grey;
  flex-grow: 1;
  margin-bottom: 20px;
}

.news-card__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: $base-lgh;
}

.news-card__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before {
    @include font-icon-style("\e90e", 20px);
    color: $white;
  }
}

.stiker-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background: #ffffffcc;
  color: #bc1622;
  &::before {
    @include font-icon-style("\e904", 20px);
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
}
