.popup-nav-wrap {
  z-index: 1000;
  &:hover .popup-nav {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    top: 10px;
  }
}

.popup-nav {
  position: absolute;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  left: -35px;
  overflow: hidden;
  padding: 0 15px;
  transition: opacity 0.5s, top 0.5s, visibility 0s ease-in-out 0.5s;
}

.popup-nav__list {
  margin-top: 60px;
  min-height: 100px;
  width: 338px;
  background: $white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}
