.popup-nav-wrap {
  z-index: 1500;

  &:hover .popup-nav {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    top: -20px;
  }
}

.popup-nav {
  position: absolute;

  top: 100px;

  padding: 0 15px;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, top 0.25s, visibility 0s ease 0.25s;
}

.popup-nav__list {
  margin-top: 60px;
  min-height: 100px;
  width: 338px;
  background: $white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
