.search__wrap {
  position: relative;

  background: $base-lg;
  margin-bottom: 35px;
  @media (min-width: 600px) {
    padding: 1px 1px 1px 2px;
  }
}

.search-form {
  background: $white;
  align-items: center;
  padding: 0 0 2px 0;
  @media (min-width: 600px) {
    display: flex;
  }
}

.search-form__input {
  border: none;
  border-bottom: 1px solid $base;
  @media (min-width: 600px) {
    padding: 16.5px 20px;
    border-bottom: none;
  }
}

.search-form__loupe {
  position: absolute;
  right: 15px;
  bottom: 0;
  transform: translate(0, -50%);
  display: block;
  width: 31px;
  height: 31px;
  cursor: pointer;
  outline: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  &::before {
    @include font-icon-style("\e913", 30px);
    color: $base;
  }

  @media (min-width: 600px) {
  }
}

.search-form__area {
  position: relative;
  display: block;
  margin: 0 0 10px 0;
  background: $base;
  //overflow: hidden;
  padding: 13px 10px;
  color: $white;
  font-family: $roboto;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  cursor: pointer;
  z-index: 1000;
  @media (min-width: 600px) {
    margin: 0 0 0 5px;
    width: 240px;
  }
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__fake-checkbox {
  margin-right: 20px;
}

.search-form__list-body {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0;
  overflow: hidden;
  transform: translate(0, 100%);
  border: 1px solid $base;
  background: $white;
  transition: 0.2s ease-in-out;
}

.modal-search__content-wrap {
  position: relative;
  margin-bottom: 20px;
}

.modal-search__content {
  min-height: 567px;
}
.search-form__label {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: $pearl;
  }
}

.search-form__label-text {
  color: $base;
}

.modal-search__spinner {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-search__spinner--is-show {
  display: flex;
}

.modal-search__btn {
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
  @media (min-width: 600px) {
    width: auto;
  }
}
