.search {
  position: relative;
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: text;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $black;
  }
}

.search__text {
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
}

.search__icon {
  margin-right: 2px;
  &:before {
    @include font-icon-style("\e913", 22px);
  }
}
