.select {
  display: inline-block;
  position: relative;
  min-width: 215px;
  z-index: 500;
  transition: 0.2s ease-in-out;
  &:hover {
    z-index: 2000;
  }
  &:hover .select__header {
    z-index: 2000;
    border: 1px solid $base;
    border-bottom: none;
    color: $base;
  }
  &:hover .options-body {
    border: 1px solid $base;
    border-top: none;
    &::before {
      color: $base;
    }
  }
}

.select--is-active {
  z-index: 2000;
  & .select__header {
    z-index: 2000;
    border: 1px solid $base;
    border-bottom: none;
    color: $base;
  }
  & .options-body {
    border: 1px solid $base;
    border-top: none;
    &::before {
      color: $base;
    }
  }
}

.select__header {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px 25px 14px 10px;
  border: 1px solid $grey;
  border-bottom: none;
  background: $white;
  font-size: 13px;
  line-height: 150%;
  color: $grey;
  transition: 0.2s ease-in-out;
  width: 100%;

  &::before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 19px;
    width: 12px;
    height: 4px;
    @include font-icon-style('\e903', 6px);
  }
  @media (min-width: 500px) {
    padding: 14px 60px 14px 10px;
  }
  @media (min-width: 1130px) {
    font-size: 16px;
    padding: 14px 95px 14px 10px;
  }
}

.options-body {
  position: absolute;
  z-index: 1000;
  background: $white;
  border: 1px solid $grey;
  border-top: none;
  width: 100%;
  left: 0;
  height: 1px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.options {
  background: $white;
  padding: 10px 10px;
}
.options__search {
  position: relative;
  margin-bottom: 20px;
}

.options__btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    @include font-icon-style('\e913', 18px);
    color: $grey;
  }
}

.options__input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  outline: none;
  font-family: $roboto;
  color: $grey;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #bdbdbd;
}

.options__input::-webkit-input-placeholder {
  font-family: $roboto;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: $grey;
}
.options__input::-moz-placeholder {
  font-family: $roboto;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: $grey;
} /* Firefox 19+ */
.options__input:-moz-placeholder {
  font-family: $roboto;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: $grey;
} /* Firefox 18- */
.options__input:-ms-input-placeholder {
  font-family: $roboto;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  color: $grey;
}
.options__link {
  display: flex;
  align-items: center;
}

.options__label {
  display: flex;
  align-items: center;
}

.options__checkbox {
  margin-right: 15px;
}

.options__list {
  height: 240px;
  overflow: auto;
  padding: 0 5px;
  background: $white;
  scrollbar-color: $base $l-grey;
  scrollbar-width: thin;
}

.options__list::-webkit-scrollbar {
  width: 4px;
  background-color: $l-grey;
}

.options__list::-webkit-scrollbar-thumb {
  background-color: $base;
}

.options__item {
  padding: 5px 0 5px 0;
  //margin-bottom: 10px;
  //padding-right: 10px;
  cursor: pointer;
  &:hover {
    background: $pearl;
  }
}

.option-hide {
  display: none;
}

.options__count {
  margin-left: auto;
}
